
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.singlePost{
    flex:9;
}
.singlePostWrapper{
    padding: 20px 40px;
    padding-right: 0px;

    text-align: center;

}
.singlePostImg{
    width: 70%;
    height: 300px;
    object-fit: fill;
    border-radius: 5px;
}
.singlePostTitle{
    font-family: "Montserrat", sans-serif;
    color: #666;
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 50px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
.singlePostEdit{
    float: right;
    font-size: 17px;

}
.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;

}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    margin: 20px  ;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: #b39656;
    font-family: "Varela Round", sans-serif;
    padding: 0px 20px;

}
.singlePostDesc{
    color: #666;
    font-size: 1rem;
    padding: 20px 40px;

}
.singlePostDesc::first-letter{
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px  ;
}